.inputForm {
    border: 0;
    box-shadow: none;
    border-bottom:1px solid gray;
    border-radius: 0 !important;
}

.form-control {
  &:focus {
    border-bottom: 1px solid $primaryColor;
    box-shadow: none;
  }
}
