## NPM ##
node_modules/

## Mac OSX ##
.DS_Store

## Bundle ##
src/static/js

## Babel ##
babel_cache/

## Auth ##
src/authInfo.js

## SASS ##
src/static/scss/.sass-cache/
src/static/css
src/static/css/style.css
