.contactPageContainer {
  margin-bottom: 10%
}

.inputForm {
    border: 0;
    box-shadow: none;
    border-bottom:1px solid gray;
    border-radius: 0 !important;
}

.contactFormSpacing {
  margin-top:3%
}
.submitButtonSpacing {
  margin-top: 3%
}

.form-control:focus {
  border-bottom: 1px solid rgb(225, 206, 148);
  box-shadow: none;
}
