/* Add in body padding to ensure that no content is initally covered by the navbar*/
body {
  padding-top: 70px;
}

/*Set fonts to google open source font*/
h1, h2, h3, h4, h5, h6 {
    font-family: 'Source Sans Pro', sans-serif;
}
p, div {
    font-family: 'Source Sans Pro', sans-serif;
}

/*To get rid of the underline on a links*/
a {
  text-decoration:none
}

a:hover {
    text-decoration: none;
}

/*To get rid of the resize option and the scrollbars at first*/
textarea {
  resize: none;
  overflow: auto;
}

/*To animate buttons some (from hover.css)*/
/* Pop */
@-webkit-keyframes hvr-pop {
  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
}

@keyframes hvr-pop {
  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
}

.hvr-pop {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
}
.hvr-pop:hover, .hvr-pop:focus, .hvr-pop:active {
  -webkit-animation-name: hvr-pop;
  animation-name: hvr-pop;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

/*General Classes*/


/*Welcome Greeting Classes*/
.welcomeGreetingSpacing {
  margin-top: 7%
}
/*About Page Classes*/
.aboutPageContainer {
  margin-bottom: 3%
}

/*Contact Page Classes*/
.contactPageContainer {
  margin-bottom: 10%
}

.inputForm {
    border: 0;
    box-shadow: none;
    border-bottom:1px solid gray;
    border-radius: 0 !important;
}

.contactFormSpacing {
  margin-top:3%
}
.submitButtonSpacing {
  margin-top: 3%
}

/*.form-control:focus {
  border-bottom:1px rgb(36,204,173);
}*/
.form-control:focus {
  border-bottom: 1px solid rgb(36,204,173);
  box-shadow: none;
}

/*Blog Page Classes*/
.blogPageContainer {
  margin-bottom: 10%
}


/*Project Preview Classes*/
.projectPreviewCard {
  margin-bottom: 10%
}

.projectPreviewImage {
  margin-bottom: 3%
}

.projectPreviewHeader {
  margin-bottom: 3%
}

.projectPreviewCallout {
  margin-top: 3%
}

/*Welcome Greeting Classes*/
.verticalLine{
  height:200px;
  width:0px;
  position:relative;
  border-left:1px solid gray;
}

/*Footer Classes*/
.footerContainer {
  margin-top: 3%
}

/*NavBar Classes*/
.contactHighlight {
  color: rgb(36,204,173)
}

.navbar-toggle {
  box-shadow: none;
  border: 0;
}
