/* Add in body padding to ensure that no content is initally covered by the navbar*/
body {
  padding-top: 70px;
}

/*Set fonts to google open source font*/
h1, h2, h3, h4, h5, h6 {
    font-family: 'Source Sans Pro', sans-serif;
}
p, div {
    font-family: 'Source Sans Pro', sans-serif;
}

/*About Page Classes*/
.aboutPageContainer {
  margin-bottom: 10%
}

/*Contact Page Classes*/
.contactPageContainer {
  margin-bottom: 10%
}

textarea {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
}

/*Blog Page Classes*/
.blogPageContainer {
  margin-bottom: 10%
}


/*Project Preview Classes*/
.projectPreviewCard {
  margin-bottom: 10%
}

.projectPreviewImage {
  margin-bottom: 3%
}

.projectPreviewHeader {
  margin-bottom: 3%
}

.projectPreviewCallout {
  margin-top: 3%
}

/*Welcome Greeting Classes*/
.verticalLine{
  height:200px; width:0px; position:relative; border-left:1px solid gray;
}

/*Footer Classes*/
.footerContainer {
  margin-bottom: 3%
}

.opaque-navbar {
    background-color: rgba(0,0,0,0.5);
  /* Transparent = rgba(0,0,0,0) / Translucent = (0,0,0,0.5)  */
    height: 60px;
    border-bottom: 0px;
    transition: background-color .5s ease 0s;
}
