.welcomeGreetingSpacing {
  margin-top: 7%
}

.projectPreviewCard {
  margin-bottom: 10%
}

.projectPreviewImage {
  margin-bottom: 3%
}

.projectPreviewHeader {
  margin-bottom: 3%
}

.projectPreviewCallout {
  margin-top: 3%
}

.verticalLine{
  height:200px;
  width:0px;
  position:relative;
  border-left:1px solid gray;
}
